* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

}

body {
  
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  height: 5rem;
  position: sticky;
  top: 0;
  background-color: #EBD8C3;
  width: 100vw;
  z-index: 1;

  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;
  
}

.navbar a {
  color: #694E4E;
  font-weight: bold;
  font-size: 2rem;
  
  padding: .5rem 1rem;
}
